h3
{
    font-size: 50px !important;
}
.btn-success:hover
{
background-color: aqua;
}
canvas
{
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes examople 
{
from{box-shadow: 1px 1px 29px greenyellow;}
to{box-shadow: 1px 1px 29px rebeccapurple;}
}